* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #23252C;

}

.card {
  width: 350px;
  margin: 50px auto;
  border-radius: 10px;
  background-color: #1A1B21;
}

.card--info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card--info_image {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 350px;
}

.card--info_name {
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  margin-bottom: 10px;
}

.card--info_job {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  color: #F3BF99;
  margin: 0;
}

.card--info_website {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #F5F5F5;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 15px;
}

.card--info_btns {
  display: flex;
}

.btn {
  text-decoration: none;
  width: 125px;
  height: 34px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}


.email__btn {
  color: #374151;
  margin-right: 17px;
}

.linked__btn {
  background-color: #5093E2;
  color: #fff;
  margin-right: 0;
}

.card__about,
.card__interest {
  width: 247px;
  margin: 29px auto;
}

.card__about-title,
.card__interest-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #F5F5F5;
  margin-bottom: 0;
}

.card__about-text,
.card__interest-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #DCDCDC;
  margin-top: 5px;
}

.footer {
  background-color: #161619;
  border-radius: 0 0 10px 10px;
  padding: 30px;
}

.social--list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  margin: 0;
}

.social--list_icon {
  width: 30px;
}